<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', @customer,  class: "btn btn-primary" %> 
<%= link_to customers_path, class: 'home-icon' do %>
  <i class="home-icon fa-solid fa-lg fa-house"></i>
<% end %>

