<h1>New Customer</h1>

<%= render 'form', customer: @customer,  class: "btn btn-primary"  %>

<%= link_to customers_path, class: 'home-icon' do %>
  <i class="home-icon fa-solid fa-lg fa-house"></i>
<% end %>
